# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Dependencies
node_modules/

# Build output
.expo/
dist/
web-build/
expo-env.d.ts
*.tsbuildinfo
.metro-health-check*
app-example/

# Local env files
.env

# Editor/OS files
.DS_Store

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision
